@import 'general.css';

.btn a{
  display: block;
  width: 100%;
  font-weight: 700;
  color: white;
  text-align: center;
  background: var(--btn-bg);
  transition: .3s;
}

.btn a:hover {
  opacity: 0.8;
}

.btn-oversize {
  max-width: 230px;
  border-radius: 60px;
  overflow: hidden;
  height: 50px;
}

.btn-oversize a{
  padding: 16px 0 17px 0;
  font-size: 14px;
  line-height: 17.07px;
  height: 50px;
}

.btn-medium {
  max-width: 160px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
}

.btn-medium a {
  padding: 12px 0 13px 0;
  font-size: 12px;
  line-height: 14.63px;
  height: 40px;
}

.general-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .general-header .show-text {
    position: relative;
    top: 48px;
  }
}

@media screen and (max-width: 656px) {
  .text {
    font-size: 13px;
    line-height: 15.85px;
  }

  .general-header .show-text {
    display: none;
  }
}

/** Header **/

header {
  width: 100%;
  height: 902px;
  background-image: url('../images/header-bg.png');
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 26px;
  margin-bottom: 150px;
  position: relative;
  z-index: 1;
}

header main {
  display: grid;
  grid-template-rows: auto 1fr;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  display: block;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 20.9px;
}

.menu-item a {
  font-size: 13.8px;
  font-weight: 400;
  line-height: 17.07px;
  color: var(--white);
  letter-spacing: 0.25px;
}

.getDif a{
  color: var(--yellow);
}

.mobile-menu {
  display: none;
}

.toggle-menu {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--btn-bg);
  transition: 0.3s;
  transform: scaleY(0);
  transform-origin: top;
  padding-top: 15px;
}

.tg-menu-item {
  margin: 0 10px;
  height: 60px;
}

.tg-menu-item a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding: 15px;
  width: 100%;
  transition: .3s;
  border-radius: 15px;
  position: relative;
}

.tg-menu-item a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: var(--yellow);
  transition: 0.4s;
}

.tg-menu-item a:hover::before{
  width: 100%;
}

.toggle-input {
  display: none;
}

label img {
  cursor: pointer;
  display: block;
}

.toggle-input:checked ~ .toggle-menu{
  transform: scaleY(1);
}

/** Header Content **/

.header-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 152px;
}

.left-side .header-title{
  /*width: 723px;
  height: 194px;*/
  /*background: url('../images/header-text-desktop.png');
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;*/
  margin-bottom: 61px;
}

.ht-bg-tit {
  height: 80px;
  overflow: hidden;
}

.ht-bg-tit img{
  width: 100%;
  position: relative;
  bottom: 98px;
  left: -3px;
}

.ht-bg2, .ht-bg3 {
  display: none;
}

.header-title .ht-c {
  width: 400px;
  position: relative;
  margin-bottom: 3px;
}

.header-title .ht-top{
  font-family: var(--montserrat);
  font-size: 72px;
  font-weight: 700;
  line-height: 88px;
  color: var(--white);
}

.header-title .ht-mid{
  font-family: var(--mrKindly);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  color: var(--yellow);
  position: absolute;
  bottom: -18px;
  right: 10px;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px 0;
  margin-right: -1px;
}

.btn img {
  transition: 0.3s;
  position: relative;
  left: 0;
}

.btn:hover img{
  left: 5px;
}

.video-slide {
  position: absolute;
  bottom: 0;
  right: -125px;
}

.video-content {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-end;
  gap: 0 20px;
}

.video {
  width: 360px;
  height: 227px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.video img {
  transition: 0.3s;
}

.video:hover img {
  transform: scale(1.1);
}

.video a {
  margin-top: 1px;
}

.video a img {
  width: 78px;
  height: 78px;
  display: block;
}

.video-slide .v1 {
  background: url('../images/video1-bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.video-slide .v2 {
  background: url('../images/video2-bg.png');
  background-size: contain;
  background-position: auto;
  background-repeat: no-repeat;
}

.video-slide .v2 a {
  display: none;
}

.video a{
  border-radius: 50%;
}

.tg-menu-item {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
  .left-side .header-title {

  }

  .header-title .ht-c {
    width: 310px;
    position: relative;
    margin-bottom: 8px;
  }

  .header-title .ht-top{
    font-family: var(--montserrat);
    font-size: 56px;
    font-weight: 700;
    line-height: 58.51px;
    color: var(--white);
  }

  .header-title .ht-mid{
    font-family: var(--mrKindly);
    font-size: 50px;
    font-weight: 400;
    line-height: 48px;
    color: var(--yellow);
    position: absolute;
    bottom: -20px;
    right: 10px;
  }

  .ht-bg-tit img{
    bottom: 80px;
  }

  .ht-bg-tit{
    width: 600px;
  }
  
  .header-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 1115px;
    background: url('../images/header-bg-tablet.png');
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .menu {
    display: none;
  }
  
  .mobile-menu {
    display: block;
    z-index: 5;
  }

  .header-content {
    height: 1024px;
    top: 237px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .right-side {
    margin-right: 0px;
    justify-content: unset;
    position: relative;
    top: 137px;
  }

  .left-side .header-title {
    margin-bottom: 90px; 
  }

  .ht-bg-tit {
    width: 406px;
    height: 172px;
  }

  .ht-bg-tit img {
    bottom: 63px;
    left: 1px;
  }

  .ht-bg-tit .ht-bg1 {
    display: none;
  }

  .ht-bg-tit .ht-bg2 {
    display: block;
  }

  .video-content {
    top: -95.4px;
  }

  .video-slide {
    right: -131px;
  }

  .video {
    width: 295px;
    height: 187px;
  }
}

@media screen and (max-width: 656px) {
  header {
    height: 1019px;
  }

  .header-content {
    flex-direction: column;
    justify-content: unset;
    gap: 90px 0px;
    top: 198px;
  }

  .ht-bg-tit {
    width: 305px;
    height: 130px;
  }

  .ht-bg-tit img {
    bottom: 49px;
  }

  .left-side {
    margin-top: -80px;
    margin-bottom: 0;
    width: 100%;
  }

  .right-side {
    width: 100%;
    align-items: flex-end;
    align-self: flex-start;
    margin-bottom: 0;
    margin-right: 1px;
    top: 0;
  }

  .left-side .header-title {
    /*width: 324px;
    height: 186px;
    background: url('../images/header-text-mobile.png');
    background-repeat: no-repeat;
    background-position: top left;*/
  }

  .video-slide {
    bottom: 0;
    right: -206px;
  }
}

@media screen and (max-width: 424px) {
  header {
    height: 900px;
    background-size: cover;
    background: url('../images/header-bg-mobile.png');
  }

  .video-slide {
    display: none;
  }
  .video-content {
    grid-template-columns: 1fr 1fr;
  }
}

/** Excursions Section **/

.excursions {
  margin: 90px auto 150px auto;
  position: relative;
}

.excursions .row {
  gap: 0 20px;
  align-items: baseline;
}

.excursion-card {
  width: 360px;
  height: 497px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  color: var(--white);
  position: relative;
  flex: 0 0 360px;
}

.exc-card-1 {
  background: url('../images/excursion1-bg.png');
}

.exc-card-2 {
  background: url('../images/excursion2-bg.png');
}

.exc-card-3 {
  background: url('../images/excursion3-bg.png');
}

.exc-card-4 {
  background: url('../images/excursion4-bg.png');
}

.excursion-content {
  height: 286px;
  position: absolute;
  bottom: 0px;
  padding: 0 16px;
}

.exc-feature {
  font-size: 14px;
  font-weight: 700;
  color: var(--yellow);
  line-height: 17.07px;
}

.tour-type {
  margin-bottom: 3px;
}

.exc-feature {
  margin-bottom: 10px;
}

.exc-info {
  display: flex;
  align-items: center;
  gap: 0 13px;
  margin-bottom: 19px;
  letter-spacing: 0.2px;
}

.exc-info img {
  display: inline-block;
}

.exc-time {
  display: flex;
  gap: 0 4px;
  font-size: 11.6px;
}

.exc-price {
  display: flex;
  gap: 0 3px;
  font-size: 11.6px;
}

.exc-text {
  text-align: left;
}

.excursion-card .btn {
  position: absolute;
  bottom: 42px;
  left: 16px;
  right: 0;
}

.slider {
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 38.5px;
}

.slider img {
  cursor: pointer;
  display: block;
}

.slider-img2 {
  margin-left: 36px;
}

.slide-bar {
  width: 100%;
  height: 2px;
  margin-left: 51px;
  display: flex;
  align-items: center;
  padding: 6px 0;
  cursor: pointer;
}

.slide-bar:hover .current-slide {
  height: 4px;
}

.slide-bar:hover .general-slide {
  height: 4px;
}

.general-slide {
  flex-grow: 1;
  background: var(--gray);
  height: 2px;
  transition: 0.2s;
}

.current-slide {
  width: 170px;
  height: 2px;
  background-color: var(--section-title);
  transition: 0.2s;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 768px) {
  .excursion-card {
    width: 295px; 
    height: 490px;
    flex: 0 0 295px;
  }

  .excursion-content {
    padding: 0 15px;
    height: 316px;
  }

  .excursion-card .btn {
    bottom: 31px;
  }

  .exc-card-1 {
    background: url('../images/excursion1-bg-tablet.png');
  }

  .exc-card-2 {
    background: url('../images/excursion2-bg-tablet.png');
  }

  .exc-card-3 {
    background: url('../images/excursion3-bg-tablet.png');
  }
}

@media screen and (max-width: 656px) {
  .excursion-card {
    width: 280px; 
    height: 540px;
    flex: 0 0 280px;
  }

  .excursion-content {
    padding: 0 12px 0 15px;
    height: 357px;
  }

  .exc-card-1 {
    background: url('../images/excursion1-bg-mobile.png');
  }

  .exc-card-2 {
    background: url('../images/excursion2-bg-tablet.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tour-type {
    margin-bottom: 1px;
  }

  .regular-text {
    font-size: 13px;
    line-height: 16px;
  }

  .exc-time, .exc-price {
    font-size: 12px;
    line-height: 14.63px;
  }

  .excursion-card .btn {
    bottom: 30px;
  }

  .btn a {
  }

  .slider {
    padding-top: 55px;
  }

  .current-slide {
    width: 82px;
  }
}

@media screen and (max-width: 428px) {
  .exc-card-2 {
    background: url('../images/excursion2-bg-mobile.png');
  }
}

/** About Us Section **/

.about {
  height: 749px;
  position: relative;
}

.about-bg {
  width: 1071px;
  height: 100%;
  background: url('../images/about-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  border-radius: 0px 10px 10px 0px;
  position: absolute;
  top: 0;
}

.about-container {
  position: relative;
  height: 100%;
}

.about-card {
  max-width: 542px;
  background-color: var(--gray2);
  padding: 61px 75px 105px 85px;
  border-radius: 10px;
  /* margin: 0 24px; */
  position: absolute;
  top: 137px;
  right: 0;
}

.about-card .section-title {
  margin-bottom: 40px;
}

.about-card .text:nth-child(2) {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .about-card {
    margin: 0 24px;
  }

  .about-bg {
    width: 906px;
  }
}

@media screen and (max-width: 991px) {
  .about-bg {
    width: 675px;
  }
}

@media screen and (max-width: 768px) {
  .about-card {
    max-width: 493px;
    padding: 62px 55px 61px 56px;
  }
  
  .about-bg {
    width: 505px;
    background-position: center;
  }
}

@media screen and (max-width: 656px) {
  .about-bg {
    width: 360px;
  }

  .about-card {
    max-width: 420px;
  }
}

@media screen and (max-width: 428px) {
  .about {
    height: 704px;
  }

  .about-bg {
    width: 304px;
  }

  .about-card {
    max-width: 100%;
    padding: 43px 43px 44px 43px;
    top: 159px;
  }

  .about-card .text {
    font-size: 13px;
    line-height: 15.85px;
  }

  .about-card .section-title{
    margin-bottom: 20px;
  }

  .about-card .text:nth-child(2) {
    margin-bottom: 10px;
  }
}

/** Types of Excursions Section **/

.excursion-types {
  padding-top: 150px;
  padding-bottom: 150px;
}

.types {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 20px;
  padding: 90px 0 60px 0;
}

.exc-type {
  display: flex;
  gap: 0 20px;
}

.type-info .sub-title {
  margin-bottom: 10px;
}

.out-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.out-type .text {
  width: 550px;
  margin-bottom: 19px;
  text-align: center;
}

.out-type .btn{
  width: 230px;
  margin-left: -30px;
}

@media screen and (max-width: 768px) {
  .types {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 40px 0;
  }

  .etype-1 {
    order: 1;
  }

  .etype-2 {
    order: 3;
  }

  .etype-3 {
    order: 2;
  }

  .etype-4 {
    order: 4;
  }

  .out-type {
    margin-right: 12px;
  }

  .out-type .text {
    width: 550px;
    margin-bottom: 20px;
    align-items: flex-end;
  }
  
  .out-type .btn{
    width: 230px;
    margin: 0 auto;
    position: relative;
    left: 7px;
  }
}

@media screen and (max-width: 656px) {
  .out-type {
    margin-right: 0;
  }

  .out-type .text {
    width: 100%;
    margin-bottom: 40px;
  }

  .out-type .btn {
    left: 0;
  }

  .out-type .btn a {
    padding: 16px 0 17px 0;
  }
}

/** Gallery Section **/

.ggal {
  align-items: center;
}

.ggal .show-text {
    top: 0;
}

@media screen and (max-width: 656px) {
  .ggal .show-text {
    display: block;
    top: 0;
  }
}

.gallery {
  max-width: 1409.75px;
  padding: 90px 15px 150px 15px;
  margin: 0 auto;
}

.gallery-content {
  display: flex;
  gap: 20px 20px;
}

.d-part-1 {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px 20px;
}

.gallery-img {
  border-radius: 5px;
}

.gallery-img img{
  width: 100%;
  display: block;
}

.gimg-1 {
  grid-column: span 2;
  grid-row: 1 / 2;
}

.gimg-2 {
  flex: 1 1 auto;
}

.gimg-5 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.gimg-6 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.gimg-7 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.d-part-3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px 20px;
}

.gimg-3 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
 
.gimg-4 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.gimg-8 {
  grid-column: span 2;
  grid-row: 2 / 3;
}

.gimg-1 {
  background: url('../images/gallery-1.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.gimg-m1 {
  display: none;
  background: url('../images/gallery-1.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.gimg-2 {
  background: url('../images/gallery-2.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.gimg-3 {
  background: url('../images/gallery-3.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.gimg-4 {
  background: url('../images/gallery-4.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.gimg-5 {
  background: url('../images/gallery-5.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.gimg-6 {
  background: url('../images/gallery-6.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.gimg-7 {
  background: url('../images/gallery-7.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.gimg-8 {
  background: url('../images/gallery-8.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-img img {
  opacity: 0;
}

.d-part-m-4 {
  display: none; /** grid **/
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px 20px;
  margin: 0 auto;
}

.gimg-m2 {
  display: none;
  background: url('../images/gallery-1.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.gimg-m3 {
  display: none;
  background: url('../images/gallery-1.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.gimg-m8 {
  display: none;
  background: url('../images/gallery-1.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.gimg-m1 {
  display: none;
  background: url('../images/gallery-1.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.d-part-t-5 {
  display: none;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 20px 20px;
  margin: 0 auto;
}

.gimg-t2 {
  background: url('../images/gallery-2.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 1 / 2;
  grid-row: span 2;
}

.gimg-t3 {
  background: url('../images/gallery-3.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.gimg-t4 {
  background: url('../images/gallery-4.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.gimg-t8 {
  background: url('../images/gallery-8.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

@media screen and (max-width: 768px) {
  .gallery-img {
    display: block;
  }

  .d-part-3, .d-part-1, .gimg-2 {
    display: none;
  }

  .d-part-t-5 {
    display: grid;
  }

  .gimg-m2 {
    background: url('../images/gallery-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gimg-m3 {
    background: url('../images/gallery-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gimg-m4 {
    background: url('../images/gallery-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gimg-m8 {
    background: url('../images/gallery-8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gallery-img img {
    opacity: 0;
  }
}

@media screen and (max-width: 428px) {
  .gallery-content {
    display: grid;
    grid-template-columns: auto auto;
  }

  .d-part-1, .d-part-3, .d-part-t-5, .gimg-2 {
    display: none;
  }

  .d-part-m-4 {
    display: grid;
  }
}

/** Reviews Section **/ 

.rewg {
  align-items: center;
}

.rewg .show-text {
  top: 0;
}

.reviews {
  position: relative;
  padding-top: 90px;
  padding-bottom: 150px;
  height: 645.5px;
}

.review-container {
  position: absolute;
}

.review-container .row {
  gap: 0 20px;
}

.review {
  width: 740px;
  height: 322px;
  background: url('../images/quote.svg') var(--gray2);
  background-position: 525px 148px;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  gap: 0 28px;
  padding: 38px 27px 39px 45px;
}

.review-img1, .review-img2 {
  width: 245px;
  flex: 0 0 245px;
  height: 245px;
  border-radius: 10px;
}

.review-img1 {
  background: url('../images/review1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.review-img2 {
  background: url('../images/review2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.review-title {
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .reviews {
    height: 630px;
  }
  .show-text{
    position: relative;
    top: 0;
  }

  .review {
    width: 505px;
    height: 246px;
    background-size: 55% 55%;
    background-position: 268px 114px;
    padding: 26px 17px 52px 31px;
    gap: 0 20px;
  }

  .review-img1, .review-img2 {
    width: 168px;
    flex: 0 0 168px;
    height: 168px;
  }

  .review-title {
    margin-bottom: 10px;
  }

  .review-context {
    font-size: 12px;
    line-height: 15px;
  }

  .slider {
    padding-top: 40.5px;
  }
}

@media screen and (max-width: 656px) {
  .review {
    width: 455px;
    height: 276px;
    background-size: 50% 50%;
    background-position: 238px 134px;
    padding: 26px 17px 65px 31px;
    gap: 0 20px;
  }
}

@media screen and (max-width: 428px) {
  .reviews {
    height: 825px;
  }

  .review-container .row {
    gap: 0 23px;
  }
  .review {
    width: 280px;
    height: 447px;
    flex-direction: column;
    gap: 20px 0;
    padding: 32px 24px 48px 28px;
    background-size: 56% 56%;
    background-position: 110px 252px;
  }

  .review-img1, .review-img2 {
    width: 80px;
    flex: 0 0 80px;
    height: 80px;
  }

  .review-title {
    font-size: 14.2px;
    line-height: 17.65px;
  }

  .review-context {
    font-size: 13px;
    line-height: 15.85px;
  }

  .slider {
    margin-left: 8px;
    padding-top: 47px;
  }

  .current-slide {
    width: 170px;
  }
}

/** Contact Section **/

.contact {
  width: 100%;
  height: 640px;
  background: url('../images/contact-bg-desktop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.contact-content {
  width: 560px;
  height: 100%;
  display: flex;
  padding: 132px 95px 143px 105px;
}

.contact-content::before {
  content: '';
  width: 560px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.contact-content-bg {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 560px;
  height: 640px;
}

.contact-form {
  z-index: 3;
  width: 360px;
  height: 365px;
}

.contact-form h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  color: var(--white);
  margin-bottom: 6px;
}

.contact-form p {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: var(--yellow);
}

.contact-form form {
  width: 360px;
}

.contact-form form input{
  width: 100%;
  display: block;
  margin-top: 43px;
  outline: none;
  background: transparent;
  color: var(--white);
  border: none;
  border-bottom: 1px solid var(--white);
}

.contact-form form input::placeholder {
  font-family: var(--montserrat);
  font-size: 11.8px;
  line-height: 15px;
  color: var(--white);
  opacity: 0.8;
}

.contact-form form input :-ms-input-placeholder {
  font-family: var(--montserrat);
  font-size: 11.8px;
  line-height: 15px;
  color: var(--white);
  opacity: 0.8;
}

.contact-form form input ::-ms-input-placeholder {
  font-family: var(--montserrat);
  font-size: 11.8px;
  line-height: 15px;
  color: var(--white);
  opacity: 0.8;
}

.contact-form .btn {
  margin-top: 83px;
}

@media screen and (max-width: 991px) {
  .contact-content {
    width: 500px;
    padding: 132px 90px 143px 94px;
  }

  .contact-content-bg {
    width: 500px;
    background-position: 66.2%;
  }

  .contact-content::before {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    background: url('../images/contact-bg-tablet.png');
  }

  .contact-content {
    width: 400px;
    padding: 137px 41px 138px 43px;
    position: relative;
    right: 24px;
  }

  .contact-content-bg {
    width: 400px;
  }

  .contact-content::before {
    width: 400px;
  }

  .contact-form form {
    width: 316px;
  }
}

@media screen and (max-width: 448px) {
  .contact {
    background: url('../images/contact-bg-mobile.png');
    padding: 0 24px;
    height: 928px;
  }

  .contact-content {
    width: 100%;
    padding: 137px 41px 138px 43px;
    position: relative;
    right: 0px;
    top: 25px;
  }

  .contact-content-bg {
    width: 100%;
  }

  .contact-content::before {
    width: 100%;
    height: 640px;
  }

  .contact-form {
    width: 100%; 
  }

  .contact-form form {
    width: 100%;
  }

  .contact-form .btn {
    margin: 83px auto 0 auto;
  }

  .contact-form .btn a {
    padding: 16px 17px 17px 17px;
  }
}

/** Footer Section **/

.footer {
  max-height: 173px;
  color: var(--text-color);
  background-color: var(--gray2);
}

.footer-container {
  display: grid;
  grid-template-columns: 1.05fr 2.5fr 1.75fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  max-height: 173px;
}

.footer a {
  color: var(--text-color);
}

.flogo {
  grid-row: span 2;
  padding-top: 30px;
  padding-bottom: 29px;
}

.sitemap {
  grid-row: span 2;
  padding-top: 53px;
  padding-bottom: 53px;
}

.sitemap .shortcut {
  margin-top: 8px;
}

.sitemap .shortcut:first-child {
  margin-top: 0;
}

.footer a {
  transition: 0.3s;
}

.footer  a:hover {
  color: var(--yellow);
}

.footer-contact {
  grid-row: span 2;
  padding-top: 52px;
  padding-bottom: 51px;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  margin-top: 7px;
}

.contact-item:first-child {
  margin-top: 0;
}

.chng-me {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: end;
  padding-top: 35px;
}

.contact-item img{
  vertical-align: middle;
  text-align: center;
  margin-right: 9px;
}

.social-links {
  display: flex;
  gap: 0 6px;
  align-items: center;
  align-self: start;
  grid-column: 4 / 5;
  padding-bottom: 49px;
}

@media screen and (max-width: 1199px) {
  .footer-container {
    grid-template-columns: 1.05fr 2.5fr 1.75fr 1.2fr;
  }
}

@media screen and (max-width: 991px) {
  .footer-container {
    grid-template-columns: 1fr 2fr 1.95fr 1.55fr;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 12px;
    line-height: 14.63px;
  }

  .footer-container {
    grid-template-columns: 0.9fr 1.2fr 1.7fr 1.3fr;
  }

  .flogo {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .flogo img {
    width: 63px;
    height: 93px;
  }

  .sitemap {
    padding-top: 53px;
    padding-bottom: 65px;
  }

  .footer-contact {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .contact-item img {
    margin-right: 5px;
  }

  .social-links {
    padding-bottom: 49px;
    margin-left: 10px;
    align-self: end;
  }
}

@media screen and (max-width: 656px) {
  .footer {
    max-height: 412px;
  }

  .footer-container {
    grid-template-columns: 1fr 0.88fr;
    grid-template-rows: auto auto auto auto;
    max-height: 412px;
    padding-top: 48px;
    padding-bottom: 49px;
  }

  .flogo {
    width: 79px;
    grid-column: span 2;
    grid-row: 1 / 2;
    padding: 0;
    justify-self: center;
  }

  .flogo img {
    width: 79px;
    height: 113px;
    display: block;
  }

  .social-links {
    grid-column: span 2;
    grid-row: 2 / 3;
    padding: 0;
    align-self: center;
    justify-self: center;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .sitemap {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 0;
    align-self: start;
  }

  .sitemap .shortcut {
    margin-top: 3.5px;
  }

  .footer-contact {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 0;
  }

  .contact-item {
    margin-top: 5px;
  }

  .chng-me {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding: 0;
    justify-self: start;
  }
}